@page
@model CihanAbay.Pages.TesterModel
@{
}

   <div class="form-control">
        <form method="post">
            <input type="submit" class="btn btn-info" />
        </form>
    </div>
<label>@Model.result</label>